.profile__clothes-section {
  display: flex;
}

.clothes-section__container {
  width: 100%;
  margin-left: auto;
  padding-left: 36px;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.clothes-section__add-item_btn {
  border: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0 0 20px;
  height: 24px;
  margin: 16px 0;
}

.clothes-section__add-item_btn:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

.clothes-section__cards_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}
