.card {
  flex: 1 1 300px;
  max-width: 325px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}

.card__image {
  width: 323px;
  height: 326px;
  border-radius: 16px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  font-size: 16px;
  line-height: 20px;
  padding: 0 12px;
}

.card__like-btn {
  width: 40px;
  height: 40px;
  background: url("../../assets/heart-outline.svg") no-repeat center;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.card__like-btn_liked {
  background-image: url("../../assets/heart-filled.svg");
}
