.modal__content_type_image {
  border-radius: 16px;
  height: 610px;
  width: 498px;
  padding: 0;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  display: block;
  border-radius: 16px 16px 0 0;
  margin: 0;
  padding: 0;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px 0;
  background-color: #ffffff;
}

.modal__info {
  display: flex;
  flex-direction: column;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px 0;
  padding: 0;
}

.modal__weather {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.modal__delete-btn {
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  border: none;
  background: none;
  color: rgba(255, 77, 0, 1);
  align-self: flex-start;
}

.modal__delete-btn:hover {
  cursor: pointer;
}
