.modal__content_type_image {
  border-radius: 16px;
  height: 610px;
  width: 498px;
  padding: 0;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  display: block;
  border-radius: 16px 16px 0 0;
  margin: 0;
  padding: 0;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 20px 0 12px 32px;
}

.modal__weather {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 32px 32px;
}

.modal__delete-btn {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 32px;
  bottom: 64px;
  border: none;
  background: none;
  color: rgba(255, 77, 0, 1);
}

.modal__delete-btn:hover {
  cursor: pointer;
}
